:root {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.header {
    text-align: center;
    padding: 10px;
    background-color:#57B3FB;
    color: white;
}

.headerText {
    font-size: 28px;
}

.logo {
    font-style: italic;
    font-weight: 100;
    font-size: 34px;
}

.search {
    padding: 20px 20px 10px 20px;
}

.btn {
    background-color: #57B3FB;
    border: 0;
    vertical-align: top;
}

.history {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    flex-wrap: flex;
}
.cityForecast {
    padding-left: 5px;
    margin: 10px 0px 0px 5px;
    width: 1295px;
    text-align: center;
    font-weight: 600;
    border: none;
}

.icon {
    width: 50px;
    height: 50px;
    align-self: center;
}

.fiveDay {
    width: 250px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 14px;
}

.fiveDay h3 {
    font-size: 20px;
    text-align: center;
}

.fiveDay h2 {
    font-size: 24px;
    text-align: left;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
}

.cityBtn{
    margin: 0 0 5px 0px;
    width: 100%;
    color: white;
    background-color: #57B3FB;
    border-radius: 5px;
    border: 0;
}